@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Lilita One";
        src: url("./../../public/assets/fonts/LilitaOne-Regular.ttf");
    }

    @font-face {
        font-family: "Inter";
        font-weight: 900;
        src: url("./../../public/assets/fonts/Inter-Black.ttf");
    }

    @font-face {
        font-family: "Inter";
        font-weight: 800;
        src: url("./../../public/assets/fonts/Inter-ExtraBold.ttf");
    }

    @font-face {
        font-family: "Inter";
        font-weight: 700;
        src: url("./../../public/assets/fonts/Inter-Bold.ttf");
    }

    @font-face {
        font-family: "Inter";
        font-weight: 600;
        src: url("./../../public/assets/fonts/Inter-SemiBold.ttf");
    }

    @font-face {
        font-family: "Inter";
        font-weight: 500;
        src: url("./../../public/assets/fonts/Inter-Medium.ttf");
    }

    @font-face {
        font-family: "Inter";
        font-weight: 400;
        src: url("./../../public/assets/fonts/Inter-Regular.ttf");
    }

    @font-face {
        font-family: "Inter";
        font-weight: 300;
        src: url("./../../public/assets/fonts/Inter-Light.ttf");
    }

    @font-face {
        font-family: "Inter";
        font-weight: 200;
        src: url("./../../public/assets/fonts/Inter-ExtraLight.ttf");
    }

    @font-face {
        font-family: "Inter";
        font-weight: 100;
        src: url("./../../public/assets/fonts/Inter-Thin.ttf");
    }
}

@layer components {
    .btn-filled {
        @apply flex items-center gap-3 rounded-md bg-blue-500 px-3 py-2 text-xs font-semibold text-white hover:bg-blue-700 focus:bg-blue-500 focus:ring-4 focus:ring-blue-300 sm:text-sm md:gap-4 md:px-5 md:py-[10px] md:text-base lg:py-3 lg:text-lg xl:px-6 xl:py-[14px];
    }
}

@layer utilities {
    body {
        font-family: "Inter";
    }
}
